# URL to the rbly.js SDK bundle
VITE_SDK_URL=https://track.test.rebrandly.click/sdk/latest/rbly.min.js

# Conversion Tracking API base URL
VITE_API_BASE=http://localhost:3000

# Rebrandly API key for SDK initialization
VITE_API_KEY=your_api_key_here
